node_modules
server/node_modules
client-aurelia/node_modules
server/jspm_packages
client-aurelia/jspm_packages
client-csharp/.vs
client-csharp/packages
client-csharp/ChessMastaConnector/bin
client-csharp/ChessMastaConnector/obj
client-csharp/CSharpClient/bin
client-csharp/CSharpClient/obj

/ChessMastaEngine.Obojetnie/ChessMastaEngine.Obojetnie/bin/Debug
/ChessMastaEngine.Obojetnie/ChessMastaEngine.Obojetnie/obj/Debug
/ChessMastaEngine.Obojetnie/.vs/ChessMastaEngine.Obojetnie/v14/.suo
/ChessMastaEngine.Obojetnie/ChessMastaEngine.Objojetnie.Tests/bin/Debug
/ChessMastaEngine.Obojetnie/ChessMastaEngine.Objojetnie.Tests/obj/Debug
